<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <title>Fund</title>
</head>
<body>
    <div class="card">
        <h5 class="card-header" style="text-align: center;">You transferred a amount of <%= data.amount %> to <%= data.receiver %></h5>
        <div class="card-body mt-5" style="text-align: center;">
          <a href="http://localhost:5000/" class="btn btn-primary">Go Back</a>
          <a href="http://localhost:5000/profile" class="btn btn-danger">Visit your Profile</a>
        </div>
      </div>
</body>
</html>