<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Fund</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5">
                <h4 style="text-align: center;">Transfer Fund From Here</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <form action="http://localhost:5000/fund?id=<%= data %>", method="POST">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Enter the amount to transfer</label>
                      <input type="text" class="form-control" name="amount" id="amount" aria-describedby="amount help">
                      <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Enter the name of the fund receiver</label>
                      <input type="text" class="form-control" id="receiver" name="receiver">
                    </div>
                   <button type="submit" class="btn btn-outline-danger" style="width: 100%;">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>